<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd 
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd 
    http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.1.xsd
    http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-3.1.xsd ">


	<bean id="JmsFactory_consumer"
		class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL">
			 <value>failover://(${public.amq.center.url})?randomize=false&amp;jms.useAsyncSend=true&amp;jms.prefetchPolicy.queuePrefetch=1</value>
		</property>
	</bean>


	<bean id="poolQueueConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
		<property name="connectionFactory" ref="JmsFactory_consumer"></property>
	</bean>
 
    <bean id="QueueTaskPool_COC"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="3" />
		<property name="maxPoolSize" value="3" />
		<property name="queueCapacity" value="120" />
		<property name="threadNamePrefix" value="carQueuePool-" />
	</bean>
	
	<!-- 状态机功消息接受者 -->
	<bean id="cocOrderQueueReceiver" class="com.tuniu.car.core.amq.recieve.order.status.CocOrderStatusMsgReceiver" />

	<!-- 状态机功能 订单监听器队列 -->
	<bean id="order_destination_car" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="${coc.order.status.queue}" />
	</bean>

	<bean id="order_queueListenerContainer_car"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="poolQueueConnectionFactory" />
		<property name="concurrentConsumers" value="3" />
		<property name="maxConcurrentConsumers" value="3" />
		<property name="taskExecutor" ref="QueueTaskPool_COC" />
		<property name="destination" ref="order_destination_car" />
		<property name="messageListener" ref="cocOrderQueueReceiver" />
		<property name="receiveTimeout" value="10000" />
		<property name="cacheLevel" value="3" />
		<property name="sessionTransacted" value="true" />
	</bean>
	
</beans>